apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-app
  namespace: argocd
  finalizers:         # Application 삭제 시 ArgoCD가 관련 리소스 정리를 수행
    - resources-finalizer.argocd.argoproj.io


spec:
  project: default


  # Argo CD가 모니터링할 Git 저장소 정의
  # path >>> 저장소 내 Kustomize 매니페스트(kustomization.yaml)가 위치한 경로
  source:            
    repoURL: https://github.com/solahstar/gitops-lab.git 		# 본인 깃 허브 레포지터리 주소소
    targetRevision: main
    path: springboot-app/hello/k8s    


  # Git의 매니페스트를 배포할 대상 클러스터와 네임스페이스를 지정
  # https://kubernetes.default.svc >>> ArgoCD가 설치된 내부 클러스터
  # namespace >>> 실제 Spring Boot 애플리케이션(Deployment 등)이 배포될 네임스페이스
  destination:
    server: https://kubernetes.default.svc
    namespace: hello-app


  # 동기화 정책
  # automated >>> Git 변경 사항을 자동으로 클러스터에 반영
  # prune: true >>> Git에서 리소스가 삭제되면 클러스터에서도 자동으로 삭제
  # slefHeal: true >>> 클러스터의 실제 상태가 Git과 달라지면 자동으로 Git 상태로 복구
  # CreateNamespace=true >>> 대상 네임스페이스가 클러스터에 존재하지 않으면 자동으로 생성
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true